// navigation
.main-nav {
  position: relative;
  .navbar {
    background-color: var(--primary-color);
    padding: 0;
    border-color: transparent;
    text-transform: uppercase;
    // box-shadow: var(--shadow);
    .navbar-header {
      .navbar-brand {
        color: var(--light);
        font-size: 1.3rem;
        font-weight: bold;
        position: absolute;
        top: 30%;
        left: 4%;
        border-color: transparent;
        transition: all 0.5s ease-in-out;
      }
      a:hover {
        color: var(--light);
      }
      .navbar-toggle {
        transition: all 0.5s ease-in-out;
        border-color: transparent;
        margin: 2.5em 1em;
        .icon-bar {
          background-color: var(--light);
        }
      }
      .navbar-toggle:hover,
      .navbar-toggle:focus {
        background-color: var(--sencondary-color);
        .icon-bar {
          background-color: white;
        }
      }
    }

    .navbar-nav {
      font-size: 1rem;
      font-weight: bold;
      margin: 0;
      margin-top: 0.8em;
      padding: 0;
      li {
        margin: 1em;
        a {
          color: var(--light);
        }
        a:hover,
        a:focus {
          color: var(--sencondary-color);
          // transition: all 1s ease-out;
        }
      }
      .current {
        border-bottom: 3px solid var(--light);
      }
    }
  }

  /* Solid class attached on scroll past first section */
  .home.navbar {
    background: transparent;
  }
  .navbar.solid {
    background-color: var(--primary-color);
    transition: background-color 0.5s ease 0s;
    box-shadow: var(--shadow);

    .navbar-brand {
      transition: color 0.5s ease 0s;
    }

    .navbar-nav {
      > li {
        > a {
          transition: color 0.5s ease 0s;
        }
      } //end li
    } //end .navbar-nav
  }
}

// ====== page title ======
.page-title {
  background-color: var(--primary-color);
  color: var(--light);
  padding: 10rem 0rem 0rem 0rem;
  h1 {
    font-size: 3.5rem;
    font-size: bold;
    text-align: center;
  }
}

// contact-us
.contact-us {
  margin: 2rem 3rem;
  background-color: transparent;
  padding: 5rem 0;
  height: 300px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  h2 {
    color: var(--dark);
    font-size: 2rem;
    line-height: 1.5em;
  }
  .btn {
    margin-top: 2rem;
  }
}

//footer
.site-footer {
  padding: 2em;
  color: var(--light);
  background-color: var(--primary-color);

  .wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    line-height: 1.4em;
    font-size: 80%;
    a {
      color: var(--light);
      text-decoration: none;
      transition: all 0.5s ease-in-out;
    }
    a:hover {
      color: var(--sencondary-color);
    }

    .footer-title {
      margin: 1rem 0;
      padding-top: 0em;
    }

    .info-box {
      width: 35vmax;
    }

    .menu-box {
      width: 15vmin;

      ul {
        list-style: none;
      }
    }

    .hours {
      width: 30vmin;
    }
  }

  .copyright {
    text-align: center;
    font-size: 0.8em;
    p {
      margin: 1.5em;
    }
    a {
      color: white;
    }
  }
}

@media only screen and (min-width: 768px) {
  .contact-us {
    h2 {
      font-size: 3rem;
    }
    .btn {
      font-size: 2rem;
    }
  }

  .wrapper {
    font-size: 1.7rem;
  }
}

// @media screen and (min-width: 1365px) {
//     .contact-us {
//         padding: 4rem 0 6rem 0;
//         h2 {
//             font-size: 4rem;
//         }
//         .btn {
//             font-size: 3rem;
//         }
//     }

//     footer {
//         font-size: 1.5rem;
//     }

// }
