:root {
  --primary-color: #449899;
  --sencondary-color: #7EB7B8;
  --gray1: #737373;
  --gray2: #F8F8F8;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
}

.page-title {
  background-color: var(--primary-color);
  color: white;
  padding: 20rem 0rem 10rem 0rem;
}

.page-title h1 {
  font-size: 6rem;
  font-size: bold;
}

@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .page-title {
    padding: 15rem 0rem 7rem 0rem;
  }
  .page-title h1 {
    font-size: 6rem;
    font-size: bold;
  }
}

@media only screen and (max-width: 767px) {
  .page-title {
    padding: 10rem 0rem 5rem 0rem;
  }
  .page-title h1 {
    font-size: 4rem;
    font-size: bold;
  }
}

.navbar {
  background-color: white;
  padding: .5rem 10rem;
  border-color: transparent;
  text-transform: uppercase;
}

.navbar .navbar-header .navbar-brand {
  color: var(--primary-color);
  font-size: 3rem;
  font-weight: bold;
  margin-top: .5rem;
}

.navbar .navbar-header a:hover {
  color: var(--primary-color);
}

.navbar .navbar-nav {
  font-size: 1.5rem;
  font-weight: bold;
  margin: 0;
  margin-top: .8rem;
  padding: 0;
}

.navbar .navbar-nav li {
  margin: 0 1rem;
}

.navbar .navbar-nav li a {
  color: var(--primary-color);
}

.navbar .navbar-nav li a:hover,
.navbar .navbar-nav li a:focus {
  color: var(--sencondary-color);
}

.navbar .navbar-nav .current {
  border-bottom: 3px solid var(--sencondary-color);
}

.banner {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  height: 100vh;
}

.carousel-caption {
  padding-bottom: 12rem;
}

.carousel-caption h1 {
  font-size: 10rem;
}

.carousel-caption h3 {
  font-size: 3.5rem;
  padding-top: 9rem;
}

.carousel-caption a {
  background: var(--sencondary-color);
  padding: 15px 35px;
  display: inline-block;
  margin-top: 2rem;
  color: white;
  text-transform: uppercase;
  border-radius: 1rem;
  font-size: 2rem;
}

.carousel-caption a:hover {
  text-decoration: none;
  background-color: var(--primary-color);
  font-size: bold;
}

.carousel-indicators .active {
  background-color: var(--primary-color);
  border-color: var(--primary-color);
}

/*responsive css*/
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .navbar {
    padding: .5rem 6rem;
  }
  .navbar .navbar-header .navbar-brand {
    font-size: 2.5rem;
  }
  .navbar .navbar-nav {
    font-size: 1.3rem;
    margin-top: .8rem;
  }
  .navbar .navbar-nav li {
    margin: 0 .5rem;
  }
  .carousel-caption {
    padding-bottom: 20rem;
  }
  .carousel-caption h1 {
    font-size: 9rem;
  }
  .carousel-caption h3 {
    font-size: 2.5rem;
    line-height: 3rem;
    padding-top: 7rem;
  }
  .carousel-caption a {
    font-size: 1.5rem;
  }
}

@media only screen and (max-width: 767px) {
  .navbar {
    padding: 0 2rem;
  }
  .navbar .navbar-header .navbar-toggle {
    border-color: transparent;
    margin-top: 1.2rem;
  }
  .navbar .navbar-header .navbar-toggle .icon-bar {
    background-color: var(--primary-color);
  }
  .navbar .navbar-header .navbar-toggle:hover,
  .navbar .navbar-header .navbar-toggle:focus {
    border-color: white;
    background-color: var(--sencondary-color);
    -webkit-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
  }
  .navbar .navbar-header .navbar-toggle:hover .icon-bar,
  .navbar .navbar-header .navbar-toggle:focus .icon-bar {
    background-color: white;
  }
  .navbar .navbar-header .navbar-brand {
    font-size: 2rem;
  }
  .navbar .navbar-right {
    font-size: 1.3rem;
    margin: 3rem 0rem;
  }
  .navbar .navbar-right li {
    margin: 1rem 0rem;
    text-align: center;
  }
  .carousel-caption {
    padding-bottom: 22rem;
  }
  .carousel-caption h1 {
    font-size: 7rem;
  }
  .carousel-caption h4 {
    font-size: 1.3rem;
  }
  .carousel-caption h3 {
    font-size: 1.7rem;
    line-height: 3rem;
    padding-top: 5rem;
  }
  .carousel-caption a {
    font-size: 1.2rem;
  }
}

main .title {
  color: var(--primary-color);
  font-size: 4em;
  padding: 1em;
}

.mission {
  padding: 7em;
  background-color: var(--sencondary-color);
  color: white;
}

.mission h2 {
  line-height: 1.5em;
}

@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .mission {
    padding: 5rem;
  }
  .mission h2 {
    line-height: 4rem;
    font-size: 2.2rem;
  }
}

@media only screen and (max-width: 767px) {
  .mission {
    padding: 4rem;
  }
  .mission h2 {
    line-height: 3rem;
    font-size: 1.8rem;
  }
}

.equipment {
  padding: 5rem 10rem 15rem 10rem;
}

.equipment .col-sm-4 {
  height: 50rem;
  margin: 0rem;
  padding: 0;
}

.equipment .box {
  background-color: var(--gray2);
  height: 46rem;
  margin: 5rem 2rem;
}

.equipment .subtitle {
  color: var(--sencondary-color);
  -webkit-writing-mode: vertical-lr;
      -ms-writing-mode: tb-lr;
          writing-mode: vertical-lr;
  position: absolute;
  padding: 0em;
  margin-left: 0rem;
  overflow: hidden;
  font-size: 2.3em;
}

.equipment ul {
  list-style: "\1F44D";
  text-align: left;
  font-size: 1.3em;
  padding: 0;
  margin-left: 10rem;
  padding-top: 1.7rem;
  line-height: 1.7em;
}

.equipment ul li {
  padding-left: 1.2em;
}

@media only screen and (min-width: 1050px) and (max-width: 1400px) {
  .equipment .box {
    margin: 1.5rem;
  }
  .equipment .subtitle {
    font-size: 2.7rem;
  }
  .equipment ul {
    font-size: 1.7rem;
    margin-left: 7rem;
  }
  .equipment ul li {
    padding-left: 1.1rem;
  }
}

@media only screen and (max-width: 1050px) {
  .equipment {
    padding: 2rem 6rem;
    background-color: rebeccapurple;
  }
  .equipment .col-sm-6 {
    height: 40rem;
    margin: 1rem;
    padding: 0;
  }
  .equipment .box {
    margin: 1rem;
  }
  .equipment .subtitle {
    font-size: 2.7rem;
  }
  .equipment ul {
    font-size: 1.7rem;
    margin-left: 7rem;
  }
  .equipment ul li {
    padding-left: 1.1rem;
  }
}

.why-us {
  background-color: var(--sencondary-color);
  padding: 5rem 0 15rem 0;
}

.why-us h1 {
  color: white;
}

.why-us ul {
  list-style: none;
  font-size: 1.7em;
  line-height: 2em;
  color: white;
}

.recycling-process {
  padding: 5rem 0 15rem 0;
}

.recycling-process .col-sm-2 h1 {
  font-size: 8rem;
  color: var(--sencondary-color);
}

.recycling-process .col-sm-2 p {
  font-size: 1.7rem;
}

.about-content {
  padding: 8rem 10rem;
  font-size: 2rem;
  line-height: 3rem;
}

.about-content span {
  font-size: 4rem;
}

.about-content ul {
  list-style: none;
  padding: 3rem;
}

.about-content ul li {
  padding: 1rem;
}

@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .about-content {
    padding: 6rem 8rem;
    font-size: 2rem;
    line-height: 2.5rem;
  }
  .about-content span {
    font-size: 3rem;
  }
}

@media only screen and (max-width: 767px) {
  .about-content {
    padding: 2rem 0;
    margin: 5rem;
    font-size: 2rem;
    line-height: 2.5rem;
  }
  .about-content span {
    font-size: 3rem;
  }
}

.service-content {
  padding: 8rem 0;
  font-size: 2rem;
  line-height: 3rem;
}

.service-content .col-sm-6 {
  height: 55rem;
}

.service-content .image {
  background-color: var(--sencondary-color);
}

.service-content .text {
  padding: 3rem 4rem;
}

.policy-content {
  padding: 8rem 10rem;
  font-size: 2rem;
  line-height: 3rem;
}

.policy-content ul {
  list-style: none;
  padding: 3rem;
}

.policy-content ul li {
  padding: 1rem;
}

@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .policy-content {
    padding: 8rem 8rem;
  }
}

@media only screen and (max-width: 767px) {
  .policy-content {
    padding: 8rem 6rem;
  }
}

.contact-content {
  padding: 8rem 6rem;
  font-size: 2rem;
  line-height: 3rem;
}

.contact-content h2, .contact-content h3 {
  text-align: center;
}

.contact-content .form-group {
  margin: 5rem;
}

.contact-content .col-sm-6,
.contact-content .col-sm-12 {
  padding: 3rem 2rem;
}

.contact-content .form-control {
  margin-top: 1rem;
  padding: 2rem;
}

.contact-content .btn {
  background-color: var(--primary-color);
}

.contact-content .btn:hover {
  background-color: var(--sencondary-color);
}

@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .contact-content {
    padding: 6rem 0;
    font-size: 2rem;
    line-height: 3rem;
  }
  .contact-content h2, .contact-content h3 {
    text-align: center;
    font-size: 120%;
  }
  .contact-content .form-group {
    margin: 2rem;
  }
  .contact-content .form-control {
    margin-top: 0;
    padding: 2rem;
  }
  .contact-content .col-sm-6,
  .contact-content .col-sm-12 {
    padding: 1rem 1rem;
    font-size: 1.7rem;
  }
}

@media only screen and (max-width: 767px) {
  .contact-content {
    padding: 4rem 0;
    margin: 0;
    font-size: 2rem;
    line-height: 3rem;
  }
  .contact-content h2, .contact-content h3 {
    text-align: center;
    font-size: 90%;
    font-weight: bold;
  }
  .contact-content .form-group {
    margin: 2rem;
  }
  .contact-content .form-control {
    margin-top: 0;
    padding: 2rem;
  }
  .contact-content .col-sm-6,
  .contact-content .col-sm-12 {
    padding: 1rem 1rem;
    font-size: 1.5rem;
  }
}

.contact-us {
  background-color: var(--primary-color);
  padding: 10rem 0;
  color: white;
}

.contact-us h2 {
  line-height: 9rem;
  font-size: 5rem;
  letter-spacing: .1rem;
}

.contact-us .btn {
  background-color: var(--gray2);
  color: var(--primary-color);
  border-radius: 1rem;
  border-color: transparent;
  padding: 2rem 3rem;
  margin-top: 7rem;
}

.contact-us a {
  font-size: 2rem;
  text-transform: uppercase;
  font-weight: bold;
}

.contact-us a:hover {
  text-decoration: none;
  color: white;
  background-color: var(--sencondary-color);
}

.contact-us a:active {
  color: var(--primary-color);
  color: white;
}

@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .contact-us {
    padding: 6rem 0;
  }
  .contact-us h2 {
    line-height: 7rem;
    font-size: 4rem;
  }
  .contact-us a {
    font-size: 1.7rem;
  }
}

@media only screen and (max-width: 767px) {
  .contact-us {
    padding: 3rem 0;
  }
  .contact-us h2 {
    line-height: 4rem;
    font-size: 2.3rem;
  }
  .contact-us a {
    font-size: 1.5rem;
  }
  .contact-us .btn {
    margin: 2rem;
    padding: 1rem 2rem;
  }
}

.site-footer {
  background-color: white;
  padding: 6rem 10rem 2rem 10rem;
  font-size: 15px;
  line-height: 2em;
  color: var(--primary-color);
}

.site-footer hr {
  border-top-color: var(--sencondary-color);
  opacity: 0.5;
}

.site-footer h1, .site-footer h6 {
  color: var(--primary-color);
  text-transform: uppercase;
  -webkit-padding-after: 2em;
          padding-block-end: 2em;
  letter-spacing: 2px;
}

.site-footer h1 {
  margin-top: .5em;
  font-size: 1.7em;
  -webkit-padding-after: 1em;
          padding-block-end: 1em;
}

.site-footer h6 {
  margin-top: 1.5em;
  font-size: 1em;
}

.site-footer address {
  line-height: 2em;
  letter-spacing: .5px;
}

.site-footer, a {
  color: var(--gray1);
}

.site-footer a:hover {
  color: var(--sencondary-color);
  text-decoration: none;
}

.footer-links {
  padding-left: 0;
  list-style: none;
}

.footer-links li {
  display: block;
}

.footer-links a {
  color: var(--gray1);
}

.footer-links a:active, .footer-links a:focus, .footer-links a:hover {
  color: var(--sencondary-color);
  text-decoration: none;
}

.footer-links.inline li {
  display: inline-block;
}

.copyright-text {
  margin: 0 0 30 30;
  text-align: center;
  color: var(--gray1);
}

@media (max-width: 991px) {
  .site-footer [class^=col-] {
    margin-bottom: 30px;
    padding: 0;
  }
}

@media (max-width: 767px) {
  .site-footer {
    padding-bottom: 0;
  }
  .site-footer .copyright-text, .site-footer .social-icons {
    text-align: center;
  }
}
/*# sourceMappingURL=style.css.map */